<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PLcloud Work Exchange Platform</title>
    <link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/chat.css") }}" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center;">Welcome! Any question contact yulin.hu@plcloud.com</div>
        <div class="panel-body" id="inbox">
          {% for message in messages %}
            {% include "message.html" %}
          {% end %}
        </div>
      </div>
      <div>
        <form action="/a/message/new" method="post" id="messageform">
        <div class="input-group">
          <input type="text" name="body" id="message" class="form-control" placeholder="Press enter to send" aria-describedby="basic-addon2" autofocus="true">
          <input type="hidden" name="next" value="{{ request.path }}">
          {% module xsrf_form_html() %}
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">{{ _("Send") }}</button>
          </span>
        </div>

        </form>
      </div>
    </div>
    <script src="{{ static_url("js/jquery-1.11.3.min.js") }}"></script>
    <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("js/chat.js") }}" type="text/javascript"></script>
  </body>
</html>
